<!--Inicio da logo-->
<div>
  <nav>
      <a class="logo">Cadastros de times</a>
        <ul class="nav-list">
            <li><a routerLink="" id="index">Home</a></li>
            <li><a routerLink="/login" id="login">Login</a></li>
            <li><a routerLink="/cadastro" id="cadastro">Cadastro</a></li>
        </ul>
  </nav>
</div>

<!--iniciar cadastro-->
<h2>Criar minha conta</h2>
<div>
  <label>Digite seu Email:</label>
  <input type="email">

  <label>Insira sua Senha:</label>
  <input type="text">


  <input type="submit" value="Salvar">
</div>

<!--Inicio rodape-->
<div class="rodape">
  <a>&copy; Copyright 2022 Estatísticas sobre os times</a>
</div>
<!--Fim rodape-->
